.outline{
    outline: 1px solid red;;
}
body{
    min-height: 100vh;
    /* outline: 1px solid red !important; */
  
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1; 
    content:url("../img/hero.jpg") url("../img/claqueta.jpg") url("../img/camera-cinema.jpg") url("../img/logogb.png");   
 }

.btn-login {
    border-radius: 5px;
    transition: background-color 1.5s;
    
  }
.btn-login:hover {
    background-color: #fff !important;
    border-color: #e4b52a;
}
.container-cont{
    min-height: 80vh;
}
.bg-cont-login {
    min-height: 100vh;
    /* background-color: red; */
    background-image: url("../img/camera-cinema.jpg");
}
.container-sign {
    border: 1px solid #a3a2a2;
    min-width: 400px;
}
.sup-cont-sign {
    padding-right: 400px;
    padding-top: 200px;
}
.login-phrase {
    background-color: rgba(39, 33, 33, 0.719);
    padding: 80px;
    margin-top: 100px;
    color: #fff;
    text-align: center;
    line-height: 1.5;
    padding-left: 100px;
    text-shadow: 2px 1px 2px rgba(150, 150, 150, 1);
    font-family: 'VladimirScript', sans-serif;
}

.signup-phrase {
    background-color: rgba(39, 33, 33, 0.719);
    padding: 80px;
    margin-top: 100px;
    color: #fff;
    text-align: center;
    line-height: 1.5;
    padding-left: 100px;
    text-shadow: 2px 1px 2px rgba(150, 150, 150, 1);
    font-family: 'VladimirScript', sans-serif;
}

.footer-cont {
    min-height: 200px;
    background-color: #1b1b1b;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 4;
}

.p-footer{
    /* outline: 1px solid red; */
    padding-top: 100px;
}

.social-media-footer{
    /* outline: 1px solid blue; */
    min-width: 100%;
    min-height: 100%;
    padding-left: 400px;
    padding-top: 50px;
}

.social-media-footer-cont > a {
    margin: 10px;
}



.bg-cont-signup {
    min-height: 100vh;
    /* background-color: red; */
    background-image: url("../img/claqueta.jpg");
}

.hero-cont {
    min-height: 90vh;
    background-image: url("../img/hero.jpg");
}
.opacity-bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.616);
    min-width: 100%;
    min-height: 100%;
}

.hero-phrase {
    color: #fff;
    z-index: 100;
    animation: animate-hero-phrase;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 0;
    padding-top: 200px;
} 
.sec-f {
    background-color: #f2f2f2;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-f-cont {
    /* background-color: red; */
    min-width: 100%;
    min-height: 400px;
    text-align: center;
    padding-top: 100px;
}
.sec-f-cont > a{
    border-radius: 5px;
}

.table-content {
    margin-bottom: 100px;
    margin-top: 100px;
    max-width: 80%;
    margin: auto;
}

.table-content > table {
    overflow: scroll;
}

.table-content > h3 {
    text-align: center;
    margin-top: 50px;
 
}

.profile-container {
    min-height: 90vh;
    max-width: 80%;
    /* background-color: red; */
    margin: auto;
}

.profile-container > h3 {
    text-align: center;
    padding-top: 100px;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


@keyframes animate-hero-phrase {
    0% { 
        opacity: 0.1; 
    }
    30% { 
        opacity: 0.3; 
    }
    60% { 
        opacity: 0.6; 
    }
    100% { 
        opacity: 1; 
    }
  }