<footer class="footer-cont mt-5">
        <div class="social-media-footer ">
            
            <div class="social-media-footer-cont .uk-position-left">
                <h4>Nuestras Redes</h4>
                <a href="" uk-icon="facebook"></a>
                <a href="" uk-icon="instagram"></a>
                <a href="" uk-icon="twitter"></a>
            </div>
        </div>

        <p class="p-footer">
            Todos los derechos reservados
        </p>
        
</footer>
