<h1 class=".bg-dark">Formulario de añadir</h1>
<form action="/links/add" method="post">
    <input type="text" name="titulo" autofocus placeholder="Titulo">
    <input type="text" name="costo" placeholder="Costo">
    <input type="text" name="ID del director" placeholder="">
    <input type="text" name="URL" placeholder="">
</form>