<div class="container p-4 mr-5 mt-5 container-cont">
    <div class="row  ml-5 mt-5 row-container">
        <div class="col-md-6 mt-5 mx-auto">
            <div class="card text-center mr-5 ml-5 container-sign ">
                <div class="card-header">
                    <h3>Inicio de Sesion</h3>
                </div>
                <div class="card-body">
                    <form action="/login" method="POST">

                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input class="uk-input" name="username"  type="text">
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                <input class="uk-input" name="password" type="password">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <button class="uk-button uk-button-default btn-login">Iniciar sesión</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>