<div class="profile-container">
    <h3>Perfil de usuario</h3>

    <div>
    <ul class="uk-child-width-expand" uk-tab>
        <li class="uk-active"><a href="#">Vistos Recientemente</a></li>
        <li><a href="#">Favoritos</a></li>
        <li><a href="#">Item</a></li>
        <li><a href="#">Item</a></li>
        <li><a href="#">More <span uk-icon="icon: triangle-down"></span></a>
        <div uk-dropdown="mode: click">
            <ul class="uk-nav uk-dropdown-nav">
                <li><a href="/logout" class="">Cerrar Sesión</a></li>
            </ul>
        </div></li>
    </ul>
</div>

    
</div>