<div class="profile-container">
    <h3>Perfil de usuario</h3>

    <div class="recientes">
        <h3>Recientes</h3>
        <div class="reientes-cont">
            <ul class="uk-thumbnav" uk-margin>
                <li><a href="#"><img src="img/claqueta.jpg" width="200" alt=""></a></li>
                <li><a href="#"><img src="img/claqueta.jpg" width="200" alt=""></a></li>
                <li><a href="#"><img src="img/claqueta.jpg" width="200" alt=""></a></li>
            </ul>
        </div>
    </div>

    <div class="favoritos mt-5">
        <h3>Favoritos</h3>
        <div class="reientes-cont">
            <ul class="uk-thumbnav" uk-margin>
                <li><a href="#"><img src="img/claqueta.jpg" width="200" alt=""></a></li>
                <li><a href="#"><img src="img/claqueta.jpg" width="200" alt=""></a></li>
                <li><a href="#"><img src="img/claqueta.jpg" width="200" alt=""></a></li>
            </ul>
        </div>
    </div>

    <div class="upload mt-5">
        <h3>Subir una pelicula</h3>
        <a class="uk-button uk-button-default" href="movies/add">Subir Pelicula</a>
    </div>


